<!--I realized the reason why I was having issues with displaying the element only was because *ngIF takes the DOM properties away.
Because of those reasons I was not able to grab an array of app-patch, would come back as undefined. Now I'm about to determine...
What index to display based on the button click -->

<div class="chat-message" *ngFor="let item of msgs"> 
  <div>{{item.username}}</div>
    <div class="msg" style="display: block;">{{ item.message }}</div>
      <app-patch-editor 
      class="patchMe"
      style="display: none;"
      (newItemEvent)="inputMessage($event)">
    </app-patch-editor>

  <div>{{ item.id }}</div>
  <div>{{ item.created_on}}</div>
  <div>{{ item.updated_on}}</div>
  <div><button (click)="showHide(item.message)" class="edit">Edit</button></div>
</div>
