.channel-message {
    border: 1px;
    border-radius: 20px;
    background-color: rgb(155, 215, 255);
    margin: auto;
    width: 80%;
    margin-bottom: 1%;
    padding: 2em;
}

.channel {
    color: rgb(63, 63, 63);
    font-size:x-large;
    margin-left: 2%;
}


.chat-list{
    display: flex;
    align-items: center;
}

.chat-list div button{
    margin-left: 40%;
}

button{
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    padding: 40%;
    font-size: 16px;
}


